#view{
	outline: none;
	-moz-appearance: none;
	border: 1px solid #999;
	resize: none;
}
#input{
	position:absolute;
	left:497px;
	resize: none;
}
#buttoninput{
	position:absolute;
	left:735px;
	width:135px;
	height:51px;
}
#zag{
	text-align: center;
}